body { margin: 0px; background-color: white; font-family: Sans; }
div.contents {
	margin: 0px 0px 0px 198px; background-color: #ededed; 
	padding-bottom: 10px;
}
div.spacer { border-bottom: 1px solid #2b5e82; height: 112px; }
img.logo { float: left; align: top; margin: 0px; }
p { margin: 5pt 10pt 2pt 10px; }
pre { margin: 10pt 30pt; }
h2 { background-color: #d1d1d1; color: #416d8d; padding: 2px 10px; font-size: 120%; margin-top: 18pt; }
a { color: #6d6d6d; }
a:visited { color: #adadad; }

p.footer { text-align: right; font-style: italic; font-size: 80%; margin-top: 20pt; }
